In [1]:
pip install pandas tabula-py

Collecting pandas
  Using cached pandas-2.2.3-cp311-cp311-win_amd64.whl (11.6 MB)
Collecting tabula-py
  Downloading tabula_py-2.10.0-py3-none-any.whl (12.0 MB)
     ---------------------------------------- 12.0/12.0 MB 5.5 MB/s eta 0:00:00
Collecting numpy>=1.23.2
  Downloading numpy-2.2.0-cp311-cp311-win_amd64.whl (12.9 MB)
     ---------------------------------------- 12.9/12.9 MB 2.0 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sagneek sengupta\documents\transformer fault\transformer\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Collecting tzdata>=2022.7
  Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Collecting distro
  Using cached distro-1.9.0-py3-none-any.whl (20 kB)
Requirement already satisfied: six>=1.5 in c:\users\sagneek sengupta\documents\transformer fault\transformer\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: pytz, tzdata, numpy, distro, pandas, tabula-py
Successfully installed distro-1.9.0 numpy-2.2.0 pandas-2.2.3 pytz-2024.2 tabula-py-2.10.0 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
from tabula import read_pdf

In [4]:
pdf_path = r"C:\Users\SAGNEEK SENGUPTA\Documents\Transformer fault\DGA dataset.pdf"

In [12]:
csv_output = "DGA_dataset.csv"

In [17]:
try:
    # Extract all tables from the PDF
    tables = read_pdf(pdf_path, pages="all", multiple_tables=True, pandas_options={"header": None})
    
    # Initialize an empty DataFrame to combine all tables
    combined_df = pd.DataFrame()
    
    # Loop through each extracted table and append it to the combined DataFrame
    for table in tables:
        combined_df = pd.concat([combined_df, table], ignore_index=True)
    
    # Save the combined DataFrame to a single CSV file
    combined_df.to_csv(csv_output, index=False, header=False)
    
    print(f"All tables have been combined and saved correctly to '{csv_output}'")
except Exception as e:
    print(f"Error: {e}")

All tables have been combined and saved correctly to 'DGA_dataset.csv'

In [18]:
df = pd.read_csv(r"C:\Users\SAGNEEK SENGUPTA\Documents\Transformer fault\DGA_dataset.csv")

In [19]:
df.head()

   NM       H2      CH4   C2H6  C2H4  C2H2               Type
0   1   3930.0   2397.0  157.0   0.0   0.0  Partial discharge
1   2  37800.0   1740.0  249.0   8.0   8.0  Partial discharge
2   3  92600.0  10200.0    0.0   0.0   0.0  Partial discharge
3   4   8266.0   1061.0   22.0   0.0   0.0  Partial discharge
4   5   9340.0    995.0   60.0   6.0   7.0  Partial discharge